flows 3.json
[{"id":"289b1f95.2cdef","type":"function","z":"402e106f.2ebc8","name":"PreToken","func":"global.set(\"cm\",msg.payload.cm)\nglobal.set(\"bf\",msg.payload.bf)\nglobal.set(\"fa\",msg.payload.fa)\nglobal.set(\"wt\",msg.payload.wt)\nglobal.set(\"sp\",msg.payload.sp)\nglobal.set(\"ca\",msg.payload.ca)\nglobal.set(\"fag\",msg.payload.fag)\nglobal.set(\"ag\",msg.payload.ag)\nvar apikey=\"iRzZdwMvTNixETROES6UAJ-C9QEztJFCXxE-u8OpGHb4\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":2,"y":360,"wires":[["c5be1005.b49ca"]]},{"id":"c5be1005.b49ca","type":"http request","z":"402e106f.2ebc8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["de376490.d6da88"]]},{"id":"5767db.e3e66824","type":"inject","z":"402e106f.2ebc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[["289b1f95.2cdef"]]},{"id":"963ac0a8.11705","type":"debug","z":"402e106f.2ebc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"de376490.d6da88","type":"function","z":"402e106f.2ebc8","name":"Pre Prediction","func":"var cm = global.get('cm')\nvar bf = global.get('bf')\nvar fa = global.get('fa')\nvar wt = global.get('wt')\nvar sp = global.get('sp')\nvar ca = global.get('ca')\nvar fag = global.get('fag')\nvar ag = global.get('ag')\nvar token=msg.payload.access_token\nvar instance_id=\"5e25f791-3c7e-437c-81ca-c4d29cbff435\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Cement\", \"Blast Furnace Slag\", \"Fly Ash\", \"Water\", \"Superplasticizer\", \"Coarse Aggregate\", \"Fine Aggregate\", \"Age\"], \"values\": [[cm,bf,fa,wt,sp,ca,fag,ag]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":280,"wires":[["70d13072.488fb"]]},{"id":"70d13072.488fb","type":"http request","z":"402e106f.2ebc8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://https://eu-gb.ml.cloud.ibm.com/v4/deployments/7ba9d2d9-7995-42a1-a245-d7ffd4a4d2c6/predictions","tls":"","persist":false,"proxy":"","authType":"","x":744.5000076293945,"y":212.00000381469727,"wires":[["56d02ce5.43cd34"]]},{"id":"ed6a3e87.2b0fd","type":"ui_form","z":"402e106f.2ebc8","name":"","label":"","group":"d2992bb.4044ad8","order":0,"width":0,"height":0,"options":[{"label":"Cement","value":"cm","type":"number","required":true,"rows":null},{"label":"Blast Furnace Slag","value":"bf","type":"number","required":true,"rows":null},{"label":"Fly Ash","value":"fa","type":"number","required":true,"rows":null},{"label":"Water","value":"wt","type":"number","required":true,"rows":null},{"label":"Superplasticizer","value":"sp","type":"number","required":true,"rows":null},{"label":"Coarse Aggregate","value":"ca","type":"number","required":true,"rows":null},{"label":"Fine Aggregate","value":"fag","type":"number","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null}],"formValue":{"cm":"","bf":"","fa":"","wt":"","sp":"","ca":"","fag":"","ag":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":46,"y":359,"wires":[["289b1f95.2cdef"]]},{"id":"c9f74ea8.ce262","type":"ui_text","z":"402e106f.2ebc8","group":"d2992bb.4044ad8","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":772.6000366210938,"y":364.20001220703125,"wires":[0]},{"id":"56d02ce5.43cd34","type":"function","z":"402e106f.2ebc8","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["963ac0a8.11705","c9f74ea8.ce262"]]},{"id":"d2992bb.4044ad8","type":"ui_group","z":"","name":"Default","tab":"ef984145.5031e","disp":true,"width":"6","collapse":false},{"id":"ef984145.5031e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]